:root {
  /* Purple */
  --purple-100: #f3eafd;
  --purple-200: #dfc8f5;
  --purple-300: #c29ae9;
  --purple-400: #a66ddd;
  --purple-500: #9e44da;
  --purple-600: #8050c9;
  --purple-700: #6d54b5;
  --purple-800: #513c91;
  --purple-900: #35265f;

  /* Neutral */
  --gray-50: #f9f9fa;
  --gray-100: #f0edf5;
  --gray-200: #dcd6e6;
  --gray-300: #bdb6c9;
  --gray-400: #91899d;
  --gray-500: #716a7c;
  --gray-600: #554f5f;
  --gray-700: #3c364c;
  --gray-800: #2c2638;
  --gray-900: #211d2b;
  --gray-950: #16171d;

  /* Status */
  --green-500: #22c55e;
  --yellow-500: #eab308;
  --red-500: #ef4444;
}