:root,
[data-theme="light"] {
  --color-background: var(--gray-50);
  --color-surface: #ffffff;
  --color-surface-hover: var(--gray-100);

  --color-input: var(--gray-100);
  --color-input-hover: var(--gray-200);

  --color-text: var(--gray-900);
  --color-text-secondary: var(--gray-600);
  --color-text-muted: var(--gray-500);

  --color-border: var(--gray-200);

  --color-primary: var(--purple-700);
  --color-primary-hover: var(--purple-800);
  --color-primary-active: var(--purple-900);

  --color-accent: var(--purple-500);

  --color-success: var(--green-500);
  --color-warning: var(--yellow-500);
  --color-error: var(--red-500);
}

[data-theme="dark"] {
  --color-background: var(--gray-950);
  --color-surface: var(--gray-800);
  --color-surface-hover: var(--gray-700);

  --color-input: var(--gray-700);
  --color-input-hover: var(--gray-600);

  --color-text: var(--color-text);
  --color-text-secondary: var(--color-text-secondary);
  --color-text-muted: var(--color-text-muted);

  --color-border: var(--color-border);

  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);
  --color-primary-active: var(--color-primary-active);

  --color-accent: var(--purple-500);

  --color-success: var(--green-500);
  --color-warning: var(--yellow-500);
  --color-error: var(--red-500);
}