.inputGroup {
  background-color: var(--color-surface);
  border-radius: 0.5rem;

  width: 50%;
  padding: 2rem;

  margin: 0 auto;

  max-width: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  box-sizing: border-box;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: var(--color-text);
  margin-bottom: 1rem;
}

.inputGroup .checkboxGroup {
  display: flex;
  gap: 0.1rem;
  align-items: center;
}

.or {
  display: flex;
  align-items: center;
  text-align: center;

  color: var(--color-text-muted);
  font-size: 13px;
  font-weight: 500;

  margin: 1rem 0 0;
}

.or::before,
.or::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: var(--color-border);
}

.or::before {
  margin-right: 12px;
}

.or::after {
  margin-left: 12px;
}

.loginLink{
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  margin-top: 1rem;
}

/* =========================
   Tablet
   ========================= */

@media (max-width: 768px) {
  .inputGroup {
    width: 70%;
    padding: 1.5rem;
  }

  .title {
    font-size: 1.75rem;
  }
}

/* =========================
   Mobile
   ========================= */

@media (max-width: 480px) {
  .inputGroup {
    width: 100%;
    padding: 1.25rem;

    border-radius: 0;
  }

  .title {
    font-size: 1.5rem;
  }

  .or {
    font-size: 12px;
  }
}